<h1>Favorite Cities</h1>

<%= link_to "New Favorite City", new_fav_city_path %>


<table>
  <tr>
    <th>City Name: </th>
    <tr>
      <td><%=  %></td>
    </tr>
  </tr>
 
</table>

<%= link_to "Delete Favorite City", delete_fav_city_path %>

