// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.markerstyle { 
  text-align: center;
  font-size: 9px;
  //width: 50px;
  //height: 50px;
  //border: 1px solid black;
  background: white; 
  //padding: 5px; 
  border-radius: 16px 16px;
  opacity: 0.6;
}

#map-container {
   height: 400px;
   width: 600px ;
   margin-left: auto ;
   margin-right: auto ;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 #map {
   border-radius: 16px 16px;   
   margin-top: 5px;
   height: 390px;
   width: 590px;
 }